:root {
  --vp-c-brand: #0066B3;
  --vp-c-brand-light: #0077CC;
  --vp-c-brand-lighter: #0088DD;
  --vp-c-brand-dark: #005599;
  --vp-c-brand-darker: #004477;

  --vp-button-brand-border: #0066B3;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-bg: #0066B3;
  --vp-button-brand-hover-border: #0077CC;
  --vp-button-brand-hover-text: #ffffff;
  --vp-button-brand-hover-bg: #0077CC;
  --vp-button-brand-active-border: #005599;
  --vp-button-brand-active-text: #ffffff;
  --vp-button-brand-active-bg: #005599;
}

/* Customizing other UI elements */
.VPNav {
  --vp-c-brand: #0066B3 !important;
}

.VPHero.VPHomeHero .container .main .name .clip {
  color: #0066B3 !important;
  -webkit-text-fill-color: #bf2604 !important;
}

.VPLink.active {
  color: #0066B3 !important;
}

/* Custom styles for better contrast */
.vp-doc a {
  color: #004477;
}

.vp-doc a:hover {
  color: #0066B3;
}

/* Making sure text on yellow backgrounds is readable */
/* .custom-block.tip {
  border-color: #fdda0d;
} */

.VPButton.brand {
  background-color: #0066B3 !important;
  border-color: #0066B3 !important;
  color: #ffffff !important;
}

.VPButton.brand:hover {
  background-color: #0077CC !important;
  border-color: #0077CC !important;
}
